@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root {
    --font-family: "Courgette", serif;
    --btn-color: #86888D;
    --background-color1: #a5c6f6;
    --background-color2: #e0eafc;
    --background-color3: linear-gradient(to right, #a5c6f6, #4e8be6);
  }

  * {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--background-color1);
  }

  .khung {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .khungphat {
    background-color: var(--background-color2);
    width: 90%;
    max-width: 300px;
    border-radius: 38px;
    box-shadow: 0px 0px 10px #dee8f9;
    padding: 16px;
  }

  .khungtren {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .than .dieukhien .btn-control,
.khungtren .btntren {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: var(--background-color2);
  box-shadow: 10px 10px 10px #d5deef, -10px -10px 10px #ebf6ff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--btn-color);
}

.than .anh img {
    width: 160px;
  height: 160px;
  border-radius: 100%;
  object-fit: cover;
  border: 6px solid var(--background-color1);
  margin: 24px auto;
  display: block;
  box-shadow: 10px 10px 10px #d5deef, -10px -10px 10px #ebf6ff;
}

.than .chitiet .ten{
    font-weight: normal;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    color: var(--btn-color);
}

.than .chitiet .nghesi {
    font-size: 14px;
    text-align: center;
    padding: 10px 0 20px;
    color: #a7a9a8;
  }
  .than .dieukhien {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 32px 14px 20px;
  }

  .than .dieukhien .play-pause {
    height: 64px;
    width: 64px;
    background-image: var(--background-color3);
    color: #fff;
  }
  
  .xoay {
    animation: roration 8s infinite linear;
    -webkit-animation: roration 8s infinite linear;
  }

  @keyframes roration {
    from {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
    }
  }